@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Varela+Round&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	/* border, padding 값이 지정한 width, height에 포함됨 */
}
a, a:link, a:visited{
	color: inherit; /* 상위 태그 상속 */
	text-decoration: none;
}
li{
	list-style: none;
}

/***** header *****/
.container{
	width: 1140px;
	margin: 0 auto;
}
header{
	position: fixed;	/* 상단 메뉴 영역 상단 고정 */
	
	top: 0;
	z-index: 1;
	width: 100%;
	padding: 1rem;	
}
header .container {		/* 자식 태그 구성요소를 양쪽 균등/수직 가운데로 배치 */
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
header nav ul{
	display: flex;	/* ul의 하위 요소 가로로 배치 */ 
}
header nav ul li{
	padding: 10px;
}
header button{
	background: transparent; /* 배경색 : 투명 */
	border: 0;
	cursor: pointer;
	color: white;	
}
header h1 button  {
	font-size: 2rem;
	font-weight: bold;
}
header nav ul li button  {
	font-size: 1.2rem;
	color: white;
}
/***** main *****/
main{
	width: 100%;		/* 부모요소의 100% */
	height: 100vh;	/* viewport높이의 100% */
	color: white;
	background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url('images/me.jpg');
	background-size: cover; /* cover: 작은 폭을 맞춰서 넣기 */	
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
main h4{
	font-size: 2rem;
}
main h2{
	font-size: 3.5rem;
	margin: 2rem 0;
	letter-spacing: 2px; 		/* 자간 */
	font-family: "Varela Round", sans-serif;
}
main p{
	max-width: 700px;
	margin: 0 auto;
	font-size: 1.25rem;
}
main button.download { /* 다운로드 버튼 스타일 */
	background-color: transparent;
	border: 3px solid white;
	border-radius: 20px;
	padding: 1rem 2rem;
	margin-top: 3rem;
	color: white;
	font-weight: bold;
	cursor: pointer;
}
main button.mouse{
	background-color: transparent;
	border: none;
	color: white;
	font-size: 2rem;
	position: absolute;	/* offset 값을 주지 않도록 absolute로 설정 */
	bottom: 1rem;				/* 하단 공백 주기 */
	left: 50%;					/* 왼쪽 모서리 좌표 중앙 배치 */
	transform: translateX(-50%);	/* 도형의 50%를 왼쪽으로 배치하여 화면 중앙에 배치 */
	animation: upDown 1s ease-in-out infinite; /* ease-in-out: transition*/
	cursor: pointer;
}
@keyframes upDown {
	0%{ 
		bottom: 1rem;
	}
	50%{
		bottom:1.5rem;
	}
	100%{ 
		bottom: 1rem;
	}
}
/* 텍스트 타이핑 효과 css 구현 */
main h2 span::after { /* 커서 모양 구현 40px-3px */
	content: "";
	height: 40px;
	width: 3px;
	background-color: #ffffff;
	display: inline-block;
	animation: blink .7s ease-in-out infinite;
}
@keyframes blink{ /* 커서 애니메이션 */
	0%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	}
}
/***** section01 *****/
section{
	font-family: "Poppins", sans-serif;
	padding: 5rem 0;
}
section:nth-child(2n){
	background-color: #f8f8f8;
}
section .title{
	margin-bottom: 3rem;
}
section .title h4{
	font-size: 1.35rem;
	color: #ed4848;
	position: relative;
}
section .title h2{
	font-size: 3rem;
}
section .title p{
	font-size: 1.15rem;
}
section .about-self::after{ /* float 속성 해제 */
	content: "";
	clear: both;
	display: block;
}
section .about-self .left{ /* 본문 너비 절반 지정 & 왼쪽 배치 */
	width: 50%;
	float: left;
}
section .about-self .left img{ /* 이미지 크기가 부모 영역을 넘지 않도록 부모 영역의 최대 크기로 지정 */
	max-width: 100%;
}
section .about-self .right{ /* 본문 너비 절반 지정 & 오른쪽 배치 */
	width: 50%;
	float: right;
	padding: 0 2rem
}
section .about-self .right h3{ /* 본문 오른쪽 h3 태그의 글자 크기와 여백 지정 */
	font-size: 2.25rem;
	margin-bottom: 1rem;
}
section .about-self .right h3 strong{ /* 본문 오른쪽 h3 태그의 strong 태그 색상 강조 */
	color: #ed4848;
}
section .about-self .right p{ /* 본문 오른쪽 p 태그의 크기와 여백 지정 */
	font-size: 1.15rem;
	margin: 1rem 0;
}
section .about-self .right .social a{ /* 본문 오른쪽의 아이콘 폰트 크기와 여백 지정 */
	font-size: 2rem;
	margin-right: 0.2rem;
}
/***** section02 *****/
section .do-me::after{ /* float 속성 해제 */
	content: "";
	display: block;
	clear: both;
}
section .do-me .do-inner{ /* 사각형 크기와 간녁, 내부 여백 설정 */
	background-color: #fff;
	width: 30%;
	padding: 2rem;
	float: left;
	margin-right: 5%;	/* 첫번째, 두번째 사각형의 오른쪽 여백줘서 100% 채우도록 */
	cursor: pointer;
}
section .do-me .do-inner:last-child{ /* 마지막 사각형의 외부 여백 설정 */
	margin-right: 0;
}
section .do-me .do-inner .icon{ /* 아이콘 폰트 크기와 색상 */ 
	font-size: 2.5rem;
	color: #ff6a6a;
}
section .do-me .do-inner .content h3{ /* 사각형 제목 텍스트 크기와 간격 */
	font-size: 2rem;
	margin: 1rem 0;
}
section .do-me .do-inner .content p{ /* 사각형 본문 텍스트 크기와 간격 */
	font-size: 1.15rem;
}
section .do-me .do-inner:hover{ /* do-inner 클래스에 마우스를 올리면 배경색과 텍스트 색상 변경*/
	background-color: lightcoral;
	color: white;
}
section .do-me .do-inner:hover i{ /* do-inner 클래스에 마우스를 올리면 아이콘 폰트 색상 변경*/
	color: white;
}